<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peter.coco">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.StartScreen"
            android:theme="@style/NullTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Loading" >
        </activity>
        <activity
            android:name=".activity.Weather"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name=".activity.SelectLocation" >
        </activity>
        <activity android:name=".activity.EnterSelect" >
        </activity>

        <service android:name=".service.AutoUpdateService" >
        </service>
        <receiver android:name=".receiver.AutoUpdateReceiver" >
        </receiver>
    </application>

</manifest>
